<mjml>
  <mj-head>
    <mj-font name="Inter Tight" href="https://fonts.googleapis.com/css?family=Inter+Tight"></mj-font>
    <mj-attributes>
      <mj-all font-family="Inter Tight, Helvetica, Arial, sans-serif"></mj-all>
      <mj-text font-weight="400" font-size="16px" color="#0E0E0E" line-height="22px"></mj-text>
    </mj-attributes>
    <mj-style> .tennis-text a { color: #BFED5A !important; text-decoration: underline; } .tennis-text-dark a { color: #576d28 !important; text-decoration: underline; } </mj-style>
  </mj-head>
  <mj-body background-color="#3D4620">
    <!-- Webview tag -->
    <mj-section padding="0px">
      <mj-column width="100%">
        <mj-text align="center" color="#8b9079" font-size="12px" css-class="tennis-text">{webview_text}</mj-text>
      </mj-column>
    </mj-section>
    <!-- Hero -->
    <mj-section padding="40px 30px 30px 30px" background-color="#BFED5A" border-radius="8px 8px 0px 0px">
      <mj-column width="100%">
        <mj-image align="left" width="161px" padding="0px" src="{{ getAssetUrl('themes/'~template~'/assets/logo.png', null, null, true ) }}" />
        <mj-spacer height="30px" />
        <mj-text align="left" padding="0px" font-size="44px" color="#0E0E0E">
          <p style="line-height:40px">Running,</p>
          <p style="line-height:40px">Action!</p>
        </mj-text>
        <mj-spacer height="30px" />
        <mj-text align="left" padding="0px" font-size="16px" color="#0E0E0E" css-class="tennis-text-dark"> Experience the power of teamwork, no matter where you're based. Whether in the office, in the comfort of your home, sipping coffee at a local café, or immersed in nature at a <a href="#">peaceful campsite</a>, the ability to collaborate from anywhere is at your fingertips. </mj-text>
        <mj-spacer height="30px" />
        <mj-button align="left" background-color="#0E0E0E" color="#FFFFFF" border-radius="8px" href="#" inner-padding="12px 20px" padding="0px" font-size="16px"> Check new products </mj-button>
      </mj-column>
    </mj-section>
    <!-- Div -->
    <mj-section padding="0px">
      <mj-column width="100%">
        <mj-image align="center" padding="0px" src="{{ getAssetUrl('themes/'~template~'/assets/div1.png', null, null, true ) }}" />
      </mj-column>
    </mj-section>
    <!-- Black Section -->
    <mj-section padding="30px" background-color="#0E0E0E">
      <mj-column width="100%">
        <mj-text align="left" padding="0px" font-size="30px" color="#ffffff" line-height="42px"> Unleash your potential. </mj-text>
        <mj-spacer height="30px" />
        <mj-text align="left" padding="0px" font-size="16px" color="#ffffff" css-class="tennis-text"> Discover the power within you on the tennis court. Our equipment and apparel are designed to empower athletes and help you achieve your full potential. <a href="#">Get ready</a> to dominate the court like never before. </mj-text>
        <mj-spacer height="30px" />
        <mj-image src="{{ getAssetUrl('themes/'~template~'/assets/img1.png', null, null, true ) }}" width="300px" align="center" />
      </mj-column>
    </mj-section>
    <!-- Div -->
    <mj-section padding="0px">
      <mj-column width="100%">
        <mj-image align="center" padding="0px" src="{{ getAssetUrl('themes/'~template~'/assets/div2.png', null, null, true ) }}" />
      </mj-column>
    </mj-section>
    <!-- White Section -->
    <mj-section padding="30px" background-color="#ffffff">
      <mj-column width="100%">
        <mj-text align="left" padding="0px" font-size="30px" line-height="42px" color="#0E0E0E">
          <p style="line-height:42px; margin: 0px;">Seamless performance,</p>
          <p style="line-height:42px; margin: 0px;">Iconic style.</p>
        </mj-text>
        <mj-spacer height="30px" />
        <mj-image src="{{ getAssetUrl('themes/'~template~'/assets/img2.png', null, null, true ) }}" padding="0px" align="center" />
        <mj-spacer height="30px" />
        <mj-text align="left" padding="0px" font-size="16px" color="#0E0E0E" css-class="tennis-text-dark"> With our cutting-edge sports gear, you not only perform at your best but look your best too. Our tennis apparel blends seamless performance with <a href="#">iconic style</a>, ensuring you turn heads on and off the court. Elevate your game, embrace the style. </mj-text>
      </mj-column>
    </mj-section>
    <!-- Div -->
    <mj-section padding="0px">
      <mj-column width="100%">
        <mj-image align="center" padding="0px" src="{{ getAssetUrl('themes/'~template~'/assets/div3.png', null, null, true ) }}" />
      </mj-column>
    </mj-section>
    <!-- Grey Section -->
    <mj-section padding="30px 30px 0px 30px" background-color="#EFEFEF">
      <mj-column width="100%">
        <mj-text align="left" padding="0px" font-size="30px" color="#0E0E0E" line-height="42px"> Precision in every swing. </mj-text>
        <mj-spacer height="30px" />
        <mj-text align="left" padding="0px" font-size="16px" color="#0E0E0E" css-class="tennis-text-dark"> Our tennis rackets are crafted with precision and engineered for perfect control. Feel the difference in <a href="#">every swing</a> and experience unmatched accuracy with each shot. It's time to up your game and make every point count. </mj-text>
        <mj-spacer height="30px" />
        <mj-image src="{{ getAssetUrl('themes/'~template~'/assets/img3.png', null, null, true ) }}" padding="0px" width="400px" align="center" />
      </mj-column>
    </mj-section>
    <!-- App -->
    <mj-section padding="40px 30px 10px 30px" background-color="#BFED5A">
      <mj-column width="100%">
        <mj-text align="center" padding="0px" font-size="32px" color="#0E0E0E">
          <p style="line-height:42px; margin: 0px;">Stay in the game</p>
          <p style="line-height:42px; margin: 0px;">with our mobile app.</p>
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section padding="30px 30px 50px 30px" background-color="#BFED5A">
      <mj-group width="400px">
        <mj-column>
          <mj-image padding="0px" href="#" height="34px" width="113px" src="{{ getAssetUrl('themes/'~template~'/assets/android.png', null, null, true ) }}"></mj-image>
        </mj-column>
        <mj-column>
          <mj-image padding="0px" href="#" height="34px" width="102px" src="{{ getAssetUrl('themes/'~template~'/assets/ios.png', null, null, true ) }}"></mj-image>
        </mj-column>
      </mj-group>
    </mj-section>
    <!-- Footer -->
    <mj-section padding="30px" background-color="#0E0E0E" border-radius="0px 0px 8px 8px">
      <mj-column width="100%">
        <mj-social mode="horizontal" icon-size="24px" padding="0px" inner-padding="10px">
          <mj-social-element name="facebook" href="#" background-color="transparent"></mj-social-element>
          <mj-social-element name="instagram" href="#" background-color="transparent"></mj-social-element>
          <mj-social-element name="pinterest" href="#" background-color="transparent"></mj-social-element>
        </mj-social>
        <mj-spacer height="20px" />
        <mj-text align="center" padding="0px" font-size="16px" color="#ffffff"> © Your company </mj-text>
        <mj-spacer height="20px" />
        <mj-text align="center" color="#fff" font-size="12px" padding="0px" css-class="tennis-text"> {unsubscribe_text} </mj-text>
        <mj-spacer height="6px" />
        <mj-text align="center" color="#fff" font-size="12px" padding="0px" css-class="tennis-text"> Crafted with love by <a href="https://github.com/ricfreire">Ricardo Freire</a>. Images from Pexels by <a href="https://www.pexels.com/@craytive/">Ray Piedra</a>. </mj-text>
      </mj-column>
    </mj-section>
    <!-- Legal -->
    <mj-section padding="30px">
      <mj-column width="100%">
        <mj-text align="center" color="#8b9079" font-size="12px" padding="0px" css-class="tennis-text">Optional legal information</mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>